<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Prédiction de Demande d'Énergie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Prédiction de Demande d'Énergie</h1>
    <form id="predictionForm">
        <label for="datetime">Date et Heure:</label>
        <input type="datetime-local" id="datetime" name="datetime" required>
        <button type="submit">Prédire</button>
    </form>
    <h2>Résultats:</h2>
    <p>Modèle 1: <span id="model1Result"></span></p>
    <p>Modèle 2: <span id="model2Result"></span></p>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
